
# Web Framework
fastapi
uvicorn[standard]
python-multipart  # for file uploads

# LangChain & Ecosystem
langchain
langchain-community

langchain-groq

# Vectorstore
pinecone-client


# Embeddings

sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu


# PDF Parsing
PyPDF  # backend for PyPDFLoader via langchain_community

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic
requests
tqdm

# Logging (optional but recommended)
loguru



#  uv pip install -r requirements.txt
